input {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  width: 100%;
  border: none;
  outline: 0;
  padding: 0 20px;
}

textarea {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  resize: none;
  border: solid 1px rgb(219, 219, 219);
  padding: 10px;
}

textarea::placeholder {
  float: right;
  margin-top: 6.7cm;
  padding: 5px;
}

#container-texto > p {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 30px;
}

#form > label {
  display: flex;
  flex-direction: row;
  margin: 0 0 10px;
  border: solid 1px rgb(219, 219, 219);
}

#form > label > p {
  width: 15%;
  display: flex;
  flex-direction: row;
  border-right: solid 1px rgb(219, 219, 219);
  padding: 5px 10px;
  background-color: rgba(196, 119, 155, 0.404);
}

#form > div > label {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#form > div > label > p {
  width: 95.5%;
  border-right: solid 1px rgb(219, 219, 219);
  padding: 5px 10px;
  background-color: rgba(196, 119, 155, 0.404);
}

input:focus, textarea:focus {
  box-shadow: inset 0 0 3px rgba(196, 119, 155, 0.815);
  outline: 0;

}

button {
  text-transform: uppercase;
  width: 100%;
  margin: 0 0 10px;
  border: solid 1px rgb(196, 119, 155);
  padding: 5px 10px;
  background-color: white;
  font-weight: 800;
  letter-spacing: 2px;
  color: rgb(196, 119, 155);
}