* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  min-height:100vh;
  background: url('../imagens/bg.png');
}

#all {
  display: flex;
  background-color: rgba(255, 255, 255, 0.897);
  border: solid 1px rgb(219, 219, 219);
  font-family: 'Nunito', sans-serif;
  max-width: 1000px;
  margin: 5%;
}

/* ESTILIZAÇÕES MENU */
#menu {
  display: flex;
  flex-direction: row;
  flex-basis: 30%;
  border-right: solid 1px rgb(219, 219, 219);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
}

#list-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  padding: 0 36px;
  max-height: 35%;
}

#list-menu > li > a {
  text-decoration: none;
  color: rgb(196, 119, 155);
}

/* ESTILIZAÇÕE HOME */
#desc {
  display: flex;
  justify-content: center;
  margin: 20px;
  flex-basis: 100%;
}

#container-texto {
  text-align: justify;
  flex-basis: 60%;
  align-self: center;
}

#titulos > h1 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 6.3px;
  color: rgb(196, 119, 155);
}

#titulos > h5:nth-child(3) {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1.8px;
}

#texto {
  margin-top: 20px;
}

#img-tabata {
  max-width: 40%;
  border: solid 1px rgb(219, 219, 219);
  padding: 5px;
  float: left;
  margin: 0 20px 0 0;
}