* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  min-height:100vh;
  background: url('../imagens/bg.png');
}

#all {
  display: flex;
  background-color: rgba(255, 255, 255, 0.897);
  border: solid 1px rgb(219, 219, 219);
  font-family: 'Nunito', sans-serif;
  max-width: 1000px;
  margin: 5%;
}

/* ESTILIZAÇÕES MENU */
#menu {
  display: flex;
  flex-direction: row;
  flex-basis: 30%;
  border-right: solid 1px rgb(219, 219, 219);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
}

#list-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  padding: 0 36px;
  max-height: 35%;
}

#list-menu > li > a {
  text-decoration: none;
  color: rgb(196, 119, 155);
}

/* ESTILIZAÇÕE SOBRE MIM */
#gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  flex-basis: 100%;
}

#titulo > h1 {
  text-align: center;
  font-size: 30px;
  color: rgb(196, 119, 155);
  margin-bottom: 20px;
}

#imgs > div > h5 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  border-bottom: solid 1px rgb(219, 219, 219);
  padding: 5px;
}

#imgs {
  display: flex;
}

#imgs > div {
  display: flex;
  flex-direction: column;
  transition: 1s all ease;
  border: solid 1px rgb(219, 219, 219);
  background-color: white;
}

#imgs > div > img {
  display: flex;
  max-width: 90%;
  padding: 5px;
  align-self: center;
}

#imgs > div:hover {
  transform: scale(1.5);
}
