* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  min-height:100vh;
  background: url('../imagens/bg.png');
}

#all {
  display: flex;
  background-color: rgba(255, 255, 255, 0.897);
  border: solid 1px rgb(219, 219, 219);
  font-family: 'Nunito', sans-serif;
  max-width: 1000px;
  margin: 5%;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 30%;
  border-right: solid 1px rgb(219, 219, 219);
}

#list-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  font-size: 18px;
  max-height: 35%;
}

#list-menu > li > a {
  text-decoration: none;
  color: rgb(196, 119, 155);
}

#desc {
  flex-basis: 100%;
}