#gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  flex-basis: 100%;
}

#titulo > h1 {
  text-align: center;
  font-size: 30px;
  color: rgb(196, 119, 155);
  margin-bottom: 20px;
  letter-spacing: 5px;
}

.imgs-gallery {
  display: flex;
  margin-bottom:5px;
}

.imgs {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-basis: 100%;
  text-align: center;
  transition: 1s all ease;
  border: solid 1px rgb(219, 219, 219);
  background-color: rgb(255, 255, 255);
  margin-right: 5px;
}

.imgs > h5 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 8px;
  border-bottom: solid 1px rgb(219, 219, 219);
}

.imgs > img {
  max-width: 90%;
  padding: 5px;
  align-self: center;
  margin: auto;

}

.imgs > p {
  font-size: 12px;
  text-align: justify;
  align-self: center;
  margin: 0 30px 15px 30px;
}

.imgs > div {
  display: flex;
  flex: row wrap;
  justify-content: space-evenly;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
}

.imgs:hover {
  transform: scale(1.3);
}

.twoProjects {
  display: flex;
  flex-direction: row;
}

.twoProjects > img {
  width: 50%
}

.imgs > div > a {
  text-decoration: none;
  color:rgb(196, 119, 155);
  border: solid 1px rgb(219, 219, 219);
  padding: 3px 10px;
  margin-bottom: 5px;
}