*{
    padding: 0px;
    margin: 0px;
}

p, li{
    font-family: 'helvetica';
    font-size: 14px;
    text-align: justify;
}

strong{
    color:rgb(79, 116, 185);
}

/* estilizações div indice do meu site*/

.header{
    max-width: 50%;
    margin: 0 auto;
    padding: 1%;
}

.sobre img{
    border: double 6px white;
    margin-right: 10px;
    padding: 10px;
    background-color: rgb(79, 116, 185);
    width: 100px;
    float: left;
}

.sobre h1{
    text-align: center;
    margin-bottom: 20px;;
    color:rgb(36, 129, 93)
}

.sobre p{
    margin-top: 35px

}

/* estilizações div indice do meu site*/